<div>
  <form>
    <span id='location'>
      <button id='getLocation'>Get my location</button>
      or
      <input id='searchTextField' placeholder='Enter my location...' type='text' size='50'></input>
    </span>
    <br />
    <label for='radius'>How far are you willing to go?</label>
    <input id='radius' type='range' name='radius' min='1' max='50' value='10'>
    <span id='displayRadius'>10 km</span>
    <br />
    <label for='minPrice'>Minimum Price</label>
    <input id='minPrice' type='range' name='minPrice' min='0' max='4' value='0'>
    <span id='displayMinPrice'></span>
    <br />
    <label for='maxPrice'>Maximum Price</label>
    <input id='maxPrice' type='range' name='maxPrice' min='0' max='4' value='4'>
    <span id='displayMaxPrice'>$$$$</span>
    <br />
    <label for='keyword'>Type of restaurant (optional)</label>
    <input id='keyword' placeholder="eg. 'pizza'" name='keyword'>
    <br />
    <label for='openNow'>Only show places open now</label>
    <input id='openNow' type='checkbox' name='openNow'>
    <br />
    <button id='submit'>Find me a restaurant!</button>
  </form>
</div>