<!DOCTYPE html>
<html lang="en">
  <head>
    <title>eat.near.me</title>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2Anvd-xa3IkXA0fDaXN1UMjEYsQaVSvU&libraries=places"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <% include ./partials/_display %>
    <% include ./partials/_search %>
  </body>
</html>