.banner {
  background-color: $accent-colour;
  color: $primary-colour;
  height: 100px;
  .bannerInner {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .title {
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
  }
  .chooseAnother {
    cursor: pointer;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: $accent-colour;
    border: 2px solid $primary-colour;
    color: $primary-colour;
    font-weight: 700;
    &:hover {
      background-color: $primary-colour;
      color: $accent-colour;
    }
    &:focus {
      outline: 0;
    }
    &:active {
      border: 2px solid $accent-colour;
    }
  }
}