@import 'variables';

@import 'options';
@import 'banner';
@import 'spinner';


body {
  background-color: $primary-colour;
  font-family: 'Helvetica Neue', Helvetica;
  margin: 0;
  .contentContainer {
    text-align: center;
  }
}

.hidden {
  visibility: hidden;
}

.mainButtons {
  cursor: pointer;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: $secondary-colour;
  border: 0;
  font-weight: 700;
  border: 2px solid $border-colour;
  &:hover {
    background-color: $primary-colour;
  }
  &:focus {
    outline: 0;
  }
}

#mapsiframe {
  width: 100%;
  height: calc(100vh - 100px);
  position: absolute;
  transform: translate(-50%);
  /*filter: grayscale(33%);*/
}




