.searchForm {
  padding-top: 15vh;
  .displayOptions {
    background-color: $secondary-colour;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    width: 450px;
    #location {
      display: flex;
      width: 100%;
      #getLocation {
        cursor: pointer;
        border-radius: 4px;
        background-color: $primary-colour;
        border: 2px solid $border-colour;
        &:hover {
          background-color: $secondary-colour;
        }
        &:focus {
          outline: 0;
        }
        &:disabled {
          cursor: default;
          &:hover {
            background-color: $primary-colour;
          }
        }
      }
      #searchTextField {
        flex-grow: 1;
      }
    }
    .textField {
      border-radius: 4px;
      border: 2px solid $border-colour;
      padding: 1px 4px;
    }
  }
}