input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.5px 0.5px 4px #000000, 0px 0px 0.5px #0d0d0d;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(13, 13, 13, 0.3);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.5px 0.5px 4px #000000, 0px 0px 0.5px #0d0d0d;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}





input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.3);
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.3);
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0.9px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.5px 0.5px 4px #000000, 0px 0px 0.5px #0d0d0d;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.3);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(13, 13, 13, 0.3);
}
